
<!DOCTYPE html>
<!-- 这是母版 -->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title : L1</title>
</head>
<body>
    @if (IsSectionDefined("Header"))
    {
        RenderSection("Header");
    }
    else
    {
        <a href="">--------------</a>
    }


    <br />

    <div>
        @RenderBody()
    </div>
    <br />
    @RenderSection("Footer", false)
</body>
</html>