
@{
    ViewData["Title"] = "CreateEvent";
}

<h2>CreateEvent</h2>

<body>

    <form method="post" action="~/Crud/CreateEvent" enctype="multipart/form-data">
        <input name="Description" type="text" />
        <input name="Time" type="date" />
        
       
        <input type="submit" />
    </form>

</body>