
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<!-- 进入创建页面 -->
<ul>
    <li>
        <a asp-area="" asp-controller="Crud" asp-action="Index">Index-概览主页</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Crud" asp-action="CreateEvent">Add-添加事故数据</a>
    </li>
</ul>

