
@{
    Layout = "~/Views/Shared/Share1.cshtml";
}

@section Footer
{
    <a href="">《我是！！！Footer》</a>
}
@section Header
{
    <a href="">《我是！！！Header》</a>
}

<!-- 这是子板 1 -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>L1</title>
</head>
<body>
    <div>
        这是body 的 div
    </div>
</body>
</html>
