
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>

<body>
    <h1>Add</h1>
    <h2>请添加数据</h2>
    <div>
        <form method="post" action="~/EventCheck/Add" enctype="multipart/form-data">
            <input name="time" type="date" />
            <br/>
            <input name="des" type="text" />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
