@model System.Data.Entity.DbSet<Day2.Models.Event>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h1>Edit</h1>
    <div>
        <form>
            <table>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id    |</td>
                        
                        <td>@item.EventTime |</td>
                        
                        <td>@item.Description</td>
                        <td><a href="~/EventCheck/Edit?id=@item.Id">编辑</a></td>
                    </tr>
                }


            </table>
        </form>
    </div>
</body>
</html>
