
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            <li>
                <a href="~/Controllers/EventCheck/Add">Add Event 添加事故</a>
            </li>

            <li>
                <a href="~/Controllers/EventCheck/Edit">Read All 查看下载所有数据或编辑</a>
            </li>
           
        </ul>
    </div>
</body>
</html>
