@model Day2.Models.IndexModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form>
    <table>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Id</td>
        </tr>
    </table>
</form>

