
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<body>
    <form method="post" action="~/Default/Index" enctype="multipart/form-data">
        <input name="id" type="number" />
        <input name="name" type="text" />
        <input type="file" name="fileBase"/>
        <input type="submit" />
    </form>
</body>
