
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<body>
    <form method="post" action="~/Default/Rea2">
        <input name="id" type="number" />
        <input name="name" type="text" />
        <input type="submit" />
    </form>
</body>
